{% load blog_tags %}
{% load staticfiles %}
<html>
  <head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
  </head>
  <body>
    <!--Import jQuery before materialize.js-->
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    {% endblock %}
  </body>
</html>

<nav>
 <div class="nav-wrapper blue-grey darken-1">
    <a href="#" class="brand-logo blue-grey darken-1">My Blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down blue-grey darken-1">
      <li><a>About</a></li>
      <li><a>Posts</a></li>
    </ul>
  </div>
</nav>

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>

<body>
<div class="row">
  <div class="container">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
        <div id="sidebar">
          <h4>My blog</h4>
          <p>This is my blog I've written {% total_posts %} posts so far. </p>
          <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
          <h3>Latest posts</h3>
          {% show_latest_posts 3 %}
          <h3>Most commented posts</h3>
          {% get_most_commented_posts as most_commented_posts %}
          <ul>
          {% for post in most_commented_posts %}
            <li>
              <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
